{% extends 'dashboard.html' %}
{% block title %}UpdateNotes-NotesNest{% endblock %}
{% block addcss %}<link rel="stylesheet" href="{{ url_for('static', filename='addnotes.css') }}">{% endblock %}

{% block content %}
<div class="addnotes-wrapper">
    <div class="addnotes-block form-container">
        <form method="post">
{% with messages = get_flashed_messages() %}    
  {% if messages %}
    {% for message in messages %}
      <p style="color: white;">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
          <h2>Add Note</h2>
          <input type="text" name='title'value="{{notesdata[1]}}">
          <textarea rows="5" name="content" value="">{{notesdata[2]}}</textarea>
          <button type="submit">Update Notes</button>
        </form>
    </div>
</div>
{% endblock %}