{% extends 'dashboard.html' %}
{% block title %}Upload - NotesNest {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block addcss %}<link rel="stylesheet" href="{{ url_for('static', filename='uploadfile.css') }}"> {% endblock %}

{% block content %}

    <div class="upload-container">
        {% with messages = get_flashed_messages() %}    
        {% if messages %}
         {% for message in messages %}
         <p style="color: white;">{{ message }}</p>
          {% endfor %}
           {% endif %}
          {% endwith %}
        <h1>Upload Your File</h1>

        <form method="POST" enctype="multipart/form-data"> 
            <label>File</label>
            <input type="file" name="file" required>
            <button type="submit" class="upload-btn">Upload File</button>
        </form>
    </div>

{% endblock %}
