{% extends 'dashboard.html' %}
{% block title %}ViewNotes-NotesNest{% endblock %}
{% block addcss %}<link rel="stylesheet" href="{{ url_for('static', filename='addnotes.css') }}">{% endblock %}

{% block content %}
<div class="addnotes-wrapper">
    <div class="addnotes-block form-container">

{% with messages = get_flashed_messages() %}    
  {% if messages %}
    {% for message in messages %}
      <p style="color: white;">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
          <h2>View Note</h2>
          <p>Created at : {{notesdata[3]}}</p>
          <input type="text" name='title'placeholder="Title" value="{{notesdata[1]}}" readonly>
          <textarea rows="5" name="content" placeholder="Content" readonly >{{notesdata[2]}}</textarea>
    </div>
</div>
{% endblock %}